<div class="container-fluid">
  <div class="row">
          <div class="login-welcome">
              <div class="login-logo"><img src="../../../assets/images/CEMainLogo.png"></div>
              <form class="login-form">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      Email is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                      <mat-label>Enter your password</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'">
                      <button class="view-btn" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>
                    <button class="login-btn" [routerLink]="['/scenario']">Log In</button>
                    <button class="register" [routerLink]="['']">Register</button>
                </form>

                <form class="login-form" style="display: none;">
                  <mat-form-field appearance="fill">
                      <mat-label>Name</mat-label>
                      <input type="name" matInput placeholder="Enter your name">
                    </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      Email is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                      <mat-label>Enter your password</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'">
                      <!-- <button class="view-btn" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button> -->
                    </mat-form-field>
                  <mat-form-field appearance="fill">
                      <mat-label>Conform password</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'">
                      <button class="view-btn" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>
                    <button class="login-btn" [routerLink]="['/scenario']">Register</button>
                </form>
          </div>
  </div>
</div>

<!-- <p>welcome works!</p>
<button class="btn-login" [routerLink]="['/scenario']">Login</button>
<button class="create-account" [routerLink]="['']">Register</button> -->
