<!-- <p>scenario works!</p> -->
<!-- <button class="btn-login" [routerLink]="['/new_scenario']">New Scenario</button> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-lg-3">
            <div class="filter-panel">
                <h4>Filter Panel</h4>
                <form class="scenario-from">
                <mat-form-field class="search-bar">
                    <span matPrefix> </span>
                    <input type="tel" matInput placeholder="Search" name= "search" [(ngModel)]= "search">
                    <button matSuffix mat-button><mat-icon >search</mat-icon></button>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Select Brand</mat-label>
                        <mat-select [formControl]="brand" multiple>
                          <mat-select-trigger>
                            {{brand.value ? brand.value[0] : ''}}
                            <span *ngIf="brand.value?.length > 1" class="example-additional-selection">
                              (+{{brand.value.length - 1}} {{brand.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                          </mat-select-trigger>
                          <mat-option *ngFor="let brand of brandList" [value]="brand">{{brand}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>Select Market</mat-label>
                        <mat-select [formControl]="market" multiple>
                          <mat-select-trigger>
                            {{market.value ? market.value[0] : ''}}
                            <span *ngIf="market.value?.length > 1" class="example-additional-selection">
                              (+{{market.value.length - 1}} {{market.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                          </mat-select-trigger>
                          <mat-option *ngFor="let market of marketList" [value]="market">{{market}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <!-- <h5>Category</h5> -->
                      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" style="margin-bottom: 20px;">
                        <mat-button-toggle value="bold">Beverages</mat-button-toggle>
                        <mat-button-toggle value="underline">Snacks</mat-button-toggle>
                      </mat-button-toggle-group>
                      <mat-form-field appearance="fill">
                        <mat-label>Created By</mat-label>
                        <mat-select [formControl]="market" multiple>
                          <mat-select-trigger>
                            {{market.value ? market.value[0] : ''}}
                            <span *ngIf="market.value?.length > 1" class="example-additional-selection">
                              (+{{market.value.length - 1}} {{market.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                          </mat-select-trigger>
                          <mat-option *ngFor="let market of marketList" [value]="market">{{market}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </form>
            </div>
        </div>
        <div class="col-md-9 col-lg-9">
            <div class="samulation-panel">
                <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="samulation-title">Simulations</div>
                </div>
                <div class="col-md-6 col-lg-6 top-btn">
                    <button mat-stroked-button color="primary">Duplicate</button>
                    <button mat-stroked-button color="primary">Archive</button>
                    <button mat-raised-button color="primary" [routerLink]="['/new_scenario']">New Scenerio</button>
                </div>
            </div>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                  [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)"
                                  [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                  </td>
                </ng-container>
              
          
              
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Market Column -->
                <ng-container matColumnDef="market">
                  <th mat-header-cell *matHeaderCellDef> Market </th>
                  <td mat-cell *matCellDef="let element"> {{element.market}} </td>
                </ng-container>

                <!-- Category Column -->
                <ng-container matColumnDef="category">
                  <th mat-header-cell *matHeaderCellDef> Category </th>
                  <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                </ng-container>

                <!-- Created Column -->
                <ng-container matColumnDef="created">
                  <th mat-header-cell *matHeaderCellDef> Created </th>
                  <td mat-cell *matCellDef="let element"> {{element.created}} </td>
                </ng-container>

                <!-- Brand Column -->
                <ng-container matColumnDef="brand">
                  <th mat-header-cell *matHeaderCellDef> Brand </th>
                  <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
                </ng-container>

                 <!-- Modified Column -->
                 <ng-container matColumnDef="modified">
                  <th mat-header-cell *matHeaderCellDef> Modified </th>
                  <td mat-cell *matCellDef="let element"> {{element.modified}} </td>
                </ng-container>
              
                <!-- Status Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Status </th>
                  <td mat-cell *matCellDef="let element"> <div class="compt"> ● {{element.status}} </div></td>
                </ng-container>
              
                <!-- Ctrated By Column -->
                <ng-container matColumnDef="createdby">
                  <th mat-header-cell *matHeaderCellDef> Created By </th>
                  <td mat-cell *matCellDef="let element"><img src="../../../assets/images/profile-icon.jpg" class="profile"> <div class="AF">{{element.createdby}}</div> </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    (click)="selection.toggle(row)">
                </tr>
              </table>
            </div>
        </div>
    </div>
</div>

