<!-- <p>main works!</p>
<button class="create-account" [routerLink]="['/simulator']">Simulator</button> -->
<div class="container-fluid">
    <div class="row">
        <div class="header-logo">
            <img src="../../../assets/images/header_logo.jpg">
        </div>
        <div class="brand-dropdown">
          <div class="dropdown">
            <button class="btn brand-nav dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select Brand
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item brand-logo"><img src="../../../assets/images/pepsi_icon.png">Pepsi</a>
              <a class="dropdown-item brand-logo" href="#"><img src="../../../assets/images/lipton_icon.png">Lipton</a>
              <a class="dropdown-item brand-logo" href="#"><img src="../../../assets/images/7up_icon.png">7Up</a>
              <a class="dropdown-item brand-logo" href="#"><img src="../../../assets/images/pepsi_icon.png">Pepsi</a>
              <a class="dropdown-item brand-logo" href="#"><img src="../../../assets/images/lipton_icon.png">Lipton</a>
              <a class="dropdown-item brand-logo" href="#"><img src="../../../assets/images/7up_icon.png">7Up</a>
            </div>
          </div>
      </div>
        <div class="col-lg-3 col-md-3">
            <button class="main-btn" (click)="showDiv.previous = true; showDiv.current = false;showDiv.next = false; showDiv.media = false"><img class="icon" src="../../../assets/images/icon-1.jpg"> Growth <img class="arrow" src="../../../assets/images/arrow.jpg"> </button>
            <button class="main-btn" (click)="showDiv.current = true; showDiv.previous = false; showDiv.next = false; showDiv.media = false"><img class="icon" src="../../../assets/images/icon-1.jpg"> Trade <img class="arrow" src="../../../assets/images/arrow.jpg"> </button>
            <button class="main-btn" (click)="showDiv.next = true; showDiv.previous = false;showDiv.current = false; showDiv.media = false"><img class="icon" src="../../../assets/images/icon-1.jpg"> TV <img class="arrow" src="../../../assets/images/arrow.jpg"> </button>
            <button class="main-btn" (click)="showDiv.media = true; showDiv.previous = false;showDiv.next = false; showDiv.current = false"><img class="icon" src="../../../assets/images/icon-1.jpg"> Media Digital <img class="arrow" src="../../../assets/images/arrow.jpg"> </button>
        </div>
        <div class="col-lg-9 col-md-9">
            <div class="main-container" *ngIf="showDiv.previous">
                <div class="main-title">Growth</div>
                    <form class="data-group">
                        <div class="input-group">
                            <label>Growth Ambition</label>
                            <input type="text" class="form-control" placeholder="14-19">
                            <div class="input-group-append">
                              <span class="input-group-text">%</span>
                            </div>
                          </div>
                          <div class="C-volume">
                              <span class="Vname">Current Volume</span>
                              <span class="Vdata">18.67M</span>
                          </div>
                    </form>
            </div>
            <div class="main-container" *ngIf="showDiv.current">
                <div class="main-title">Trade</div>
                <form class="data-group">
                    <div class="input-group">
                        <label>Max Trade</label>
                        <input type="text" class="form-control" placeholder="12.6">
                        <div class="input-group-append">
                          <span class="input-group-text">%</span>
                        </div>
                      </div>
                      <div class="C-volume">
                          <span class="Vname">Current DA</span>
                          <span class="Vdata">12.6%</span>
                      </div>
                </form>
            </div>
            <div class="main-container" *ngIf="showDiv.next">
                <div class="main-title">TV</div>
                <form class="data-group">
                    <div class="input-group">
                        <label>WOA</label>
                        <input type="text" class="form-control" placeholder="35">
                        <div class="input-group-append">
                          <span class="input-group-text">M</span>
                        </div>
                      </div>
                      <div class="input-group">
                        <label>Wkly GRP</label>
                        <input type="text" class="form-control" placeholder="12.6">
                        <div class="input-group-append">
                          <span class="input-group-text">%</span>
                        </div>
                      </div>
                      
                      <div class="C-volume">
                        <span class="Vname">Ideal Operating Point</span>
                        <span class="Vdata">20%</span>
                      </div>
                     
                       
                      <div class="cpg">Cost Per GRP</div>

                      <div class="input-group">
                        <label>Sports Bein</label>
                        <input type="text" class="form-control" placeholder="12.6">
                        <div class="input-group-append">
                          <span class="input-group-text">%</span>
                        </div>
                      </div>
                      <div class="input-group">
                        <label>Fiction</label>
                        <input type="text" class="form-control" placeholder="12.6">
                        <div class="input-group-append">
                          <span class="input-group-text">%</span>
                        </div>
                      </div>
                      <div class="input-group">
                        <label>Sports Non Bein</label>
                        <input type="text" class="form-control" placeholder="12.6">
                        <div class="input-group-append">
                          <span class="input-group-text">%</span>
                        </div>
                      </div>
                      <div class="input-group">
                        <label>Information and Magazine</label>
                        <input type="text" class="form-control" placeholder="12.6">
                        <div class="input-group-append">
                          <span class="input-group-text">%</span>
                        </div>
                      </div>
                      <div class="input-group">
                        <label>Entertainment</label>
                        <input type="text" class="form-control" placeholder="12.6">
                        <div class="input-group-append">
                          <span class="input-group-text">%</span>
                        </div>
                      </div>
                </form>
            </div>

            <div class="main-container" *ngIf="showDiv.media">
                <div class="main-title">Digital</div>
                <form class="data-group">
                    <div class="C-volume">
                        <span class="Vname">Digital Spend Cap</span>
                        <span class="Vdata">20%</span>
                    </div>
                    <div class="C-volume">
                      <span class="Vname">Ideal Operating Point</span>
                      <span class="Vdata">20%</span>
                    </div>
                   
                    
                    <div class="cpg">Cost Per Impression</div>

                      <div class="input-group">
                        <label>Twitter </label>
                        <input type="text" class="form-control" placeholder="12.6">
                        <div class="input-group-append">
                          <span class="input-group-text">%</span>
                        </div>
                      </div>
                      <div class="input-group">
                        <label>DMS Network</label>
                        <input type="text" class="form-control" placeholder="12.6">
                        <div class="input-group-append">
                          <span class="input-group-text">%</span>
                        </div>
                      </div>
                      <div class="input-group">
                        <label>Snalpchat</label>
                        <input type="text" class="form-control" placeholder="12.6">
                        <div class="input-group-append">
                          <span class="input-group-text">%</span>
                        </div>
                      </div>
                      <div class="input-group">
                        <label>Programmatic</label>
                        <input type="text" class="form-control" placeholder="12.6">
                        <div class="input-group-append">
                          <span class="input-group-text">%</span>
                        </div>
                      </div>
                      <div class="input-group">
                        <label>Facebook</label>
                        <input type="text" class="form-control" placeholder="12.6">
                        <div class="input-group-append">
                          <span class="input-group-text">%</span>
                        </div>
                      </div>
                      <div class="input-group">
                        <label>Youtube</label>
                        <input type="text" class="form-control" placeholder="12.6">
                        <div class="input-group-append">
                          <span class="input-group-text">%</span>
                        </div>
                      </div>
                      <div class="input-group">
                        <label>Instagram</label>
                        <input type="text" class="form-control" placeholder="12.6">
                        <div class="input-group-append">
                          <span class="input-group-text">%</span>
                        </div>
                      </div>
                      <div class="input-group">
                        <label>Kooora.com</label>
                        <input type="text" class="form-control" placeholder="12.6">
                        <div class="input-group-append">
                          <span class="input-group-text">%</span>
                        </div>
                      </div>
                </form>
            </div>
            <button class="run-simulation" (click)="openAlertBox()">Run Base Simulation</button>
        </div>
        
    </div>
</div>

