<div class="container-fluid">
    <div class="row">
        <div class="header-logo">
            <img src="../../../assets/images/header_logo.jpg">
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="top-navbar">
                <div class="dropdown">
                    <button class="btn brand-nav dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Brand
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item brand-logo" href="#"><img src="../../../assets/images/pepsi_icon.png">Pepsi</a>
                    <a class="dropdown-item brand-logo" href="#"><img src="../../../assets/images/lipton_icon.png">Lipton</a>
                    <a class="dropdown-item brand-logo" href="#"><img src="../../../assets/images/7up_icon.png">7Up</a>
                    <a class="dropdown-item brand-logo" href="#"><img src="../../../assets/images/pepsi_icon.png">Pepsi</a>
                    <a class="dropdown-item brand-logo" href="#"><img src="../../../assets/images/lipton_icon.png">Lipton</a>
                    <a class="dropdown-item brand-logo" href="#"><img src="../../../assets/images/7up_icon.png">7Up</a>
                    </div>
                </div>
                    <button class="execution">Execution</button>
                    <div class="dropdown">
                        <button class="btn brand-nav dropdown-toggle" data-toggle="dropdown"> Select Channel</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                         <a class="dropdown-item" href="#">Media</a>
                         <a class="dropdown-item" href="#">TV</a>
                         <a class="dropdown-item" href="#">Digital</a>
                    </div>
                </div>
                <button (click)="open()" class="save-data"><mat-icon>save</mat-icon> Save Scenario</button>
                <button class="compare-data"><mat-icon>remove_red_eye</mat-icon>Compare & Complete</button>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <!-- <mat-slide-toggle [(ngModel)]="isChecked">Slide Toggle Checked: {{isChecked}}</mat-slide-toggle> -->
            <!-- <div class="brandVolume">
                <div class="brand-graph"></div>
                <div class="brand-graph"></div>
                <div class="brand-graph"></div>
                <div class="brand-graph"></div>
            </div>
            <div class="portfolioVolume">
                <div class="brand-graph">dfdfds</div>
                <div class="brand-graph">dfd</div>
                <div class="brand-graph">dfd</div>
                <div class="brand-graph"></div>
            </div> -->

            <form (ngSubmit)="formSubmit()" #demoForm="ngForm"  >
                <div class="toggle-flex">
                <div class="toggle-portfolio">Portfolio</div>
                <mat-slide-toggle #ifPrint #age="ngModel" [(ngModel)]="model.ifPrint" name="ifPrint"></mat-slide-toggle> 
                <!-- {{model.ifPrint}} --> <div class="toggle-brand">Brand <img class="logo-brand" src="../../../assets/images/pepsi_icon.png"></div></div>
                <div [ngClass]="model.ifPrint === true ? 'brandVolume' : 'portfolioVolume'">
                  <div class="brand-graph">
                    <highcharts-chart
                    [Highcharts] = "Highcharts" 
                    [options] = "chartOptions" 
                    style = "width: 100%; height: 400px; display: block;">
                    </highcharts-chart>
                  </div>
                  <div class="brand-graph">
                    <highcharts-chart
                      [Highcharts] = "highchart2" 
                      [options] = "chartOptions2" 
                      style = "width: 100%; height: 250px; display: block;">
                    </highcharts-chart>
                  </div>
                  <div class="brand-graph">
                    <highcharts-chart
                      [Highcharts] = "highchart3" 
                      [options] = "chartOptions3" 
                      style = "width: 100%; height: 250px; display: block;">
                    </highcharts-chart>
                  </div>
                <div class="brand-graph">
                  <highcharts-chart
                    [Highcharts] = "highchart4" 
                    [options] = "chartOptions4" 
                    style = "width: 100%; height: 250px; display: block;">
                  </highcharts-chart>
                </div>
                </div>
              </form>
              <div class="DataTable">
              <table class="simulator-table">
                <thead>
                  <tr>
                    <th>PP</th>
                    <th colspan="3">Grammage</th>
                    <th colspan="3">Distribution (TDP Share)</th>
                    <th colspan="3">Distribution (ND)</th>
                    <th colspan="3">Pack Mix</th>
                    <th colspan="3">D&A</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-subtitle">
                    <td>1</td>
                    <td>Current Pack Level Standings</td>
                    <td>Recommen
                      dations</td>
                    <td>Try your Scenario</td>
                    <td>Current Pack Level Standings</td>
                    <td>Recommendations</td>
                    <td>Try your Scenario</td>
                    <td>Current Pack Level Standings</td>
                    <td>Recommendations</td>
                    <td>Try your Scenario</td>
                    <td>Current Pack Level Standings</td>
                    <td>Recommendations</td>
                    <td>Try your Scenario</td>
                    <td>Current Pack Level Standings</td>
                    <td>Recommendations</td>
                    <td>Try your Scenario</td>
                  </tr>
                  <tr class="t-data">
                    <td>0.5</td>
                    <td class="flex-a" colspan="3"><span class="black">3.6</span> <span class="blue">3.6</span> <span class="white">3.6</span></td> 
                    <td class="flex-a" colspan="3"><span class="black">3.6</span> <span class="blue">3.6</span> <span class="white">3.6</span></td> 
                    <td class="flex-a" colspan="3"><span class="black">3.6</span> <span class="blue">3.6</span> <span class="white">3.6</span></td> 
                    <td class="flex-a" colspan="3"><span class="black">3.6</span> <span class="blue">3.6</span> <span class="white">3.6</span></td> 
                    <td class="flex-a" colspan="3"><span class="black">3.6</span> <span class="blue">3.6</span> <span class="white">3.6</span></td> 
                  </tr>
                  <tr class="t-data">
                    <td>1</td>
                    <td class="flex-a" colspan="3"><span class="black">3.6</span> <span class="blue">3.6</span> <span class="white">3.6</span></td> 
                    <td class="flex-a" colspan="3"><span class="black">3.6</span> <span class="blue">3.6</span> <span class="white">3.6</span></td> 
                    <td class="flex-a" colspan="3"><span class="black">3.6</span> <span class="blue">3.6</span> <span class="white">3.6</span></td> 
                    <td class="flex-a" colspan="3"><span class="black">3.6</span> <span class="blue">3.6</span> <span class="white">3.6</span></td> 
                    <td class="flex-a" colspan="3"><span class="black">3.6</span> <span class="blue">3.6</span> <span class="white">3.6</span></td> 
                  </tr>
                  <tr class="t-data">
                    <td>3</td>
                    <td class="flex-a" colspan="3"><span class="black">3.6</span> <span class="blue">3.6</span> <span class="white">3.6</span></td> 
                    <td class="flex-a" colspan="3"><span class="black">3.6</span> <span class="blue">3.6</span> <span class="white">3.6</span></td> 
                    <td class="flex-a" colspan="3"><span class="black">3.6</span> <span class="blue">3.6</span> <span class="white">3.6</span></td> 
                    <td class="flex-a" colspan="3"><span class="black">3.6</span> <span class="blue">3.6</span> <span class="white">3.6</span></td> 
                    <td class="flex-a" colspan="3"><span class="black">3.6</span> <span class="blue">3.6</span> <span class="white">3.6</span></td> 
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>