/* .container-fluid{
    background-color: #efeeee;
    height: 100vh;
} */
.header-logo{
    background-color: #000;
    text-align: center;
    width: 100%;
    padding: 7px;
}
button.select-list {
    position: absolute;
    left: 10px;
    background: none;
    color: #fff;
    border: none;
}
.btn-home{
    position: absolute;
    left: 50px;
    background: none;
    color: #fff;
    border: none;
}
.btn-home{

}
.top-navbar{
    padding: 26px 15px;
    display: flex;
}
.navbar-button{
    width: 200px;
    margin: 0 10px;
    padding: 0px 0px 9px 0px;
    /* background: #f1f0f0; */
    border: solid 1px #ccc;
    border-radius: 6px;
}
.btn-green{
    background-color: #16c81d;
    color: #fff;
}
.btn-blue{
    background-color: #0272d5;
    color: #fff;
}
/* button.execution {
    border: solid 1px #ccc;
    padding: 5px 50px;
    border-radius: 6px;
    background: #fff;
    margin: 0 20px;
    color: #898686;
}
button.save-data{
    border: solid 1px #0272d5;
    padding: 5px 40px;
    border-radius: 6px;
    background: #0272d5;
    margin: 0 20px;
    color: #fff;
    display: flex;
    font-size: 18px;
}
button.compare-data{
    border: solid 1px #16c81d;
    padding: 5px 40px;
    border-radius: 6px;
    background: #16c81d;
    color: #fff;
    display: flex;
    font-size: 18px;
    margin-right: 20px;
} */
.mat-icon{
    position: relative;
    left: -10px;
    font-size: 26px;
    top: 8px;
}
.brandVolume {
    border: solid 1px #ccc;
    height: 280px;
    border-radius: 5px;
    background: #1b2559;
    display: flex;
    padding: 0px 10px;
}

.portfolioVolume {
    border: solid 1px #ccc;
    height: 280px;
    border-radius: 5px;
    background: #000;
    display: flex;
    padding: 0px 10px;
}
.brand-graph {
    width: 24%;
    /* background: #18316c; */
    margin: 15px 7px;
}
.portfolioVolume .brand-graph{
    background: #121212;
}
.brandVolume .brand-graph{
    background: #18316c;
}
.mediatv-graph{
    background: rgb(189, 98, 14);
    height: 300px;
}

.mediatv-table{
    background:#ededed;
    margin-bottom: 30px;
}
/* table.media-tv tr td {
    padding: 20px 10px;
} */


.portfolio-graph {
    width: 24%;
    background: #18316c;
    margin: 15px 7px;
}
.toggle-flex{
    display: flex;
    margin: 10px 10px;
}
.toggle-portfolio {
    margin: 0px 20px;
}
.toggle-brand {
    margin: 0px 20px;
}
img.logo-brand {
    width: 24px;
}
.execution-data{
    width: 1318px;
    overflow-x: scroll;
    margin-top: 30px;
    margin-bottom: 30px;
}
table.simulator-table {
    border: solid 1px #ccc;
    width: 1500px;
    overflow-x: scroll;
    margin-bottom: 17px;
    margin-left: 35px;
}
table.simulator-table td{
    background: #e5e2e2;
}
.simulator-table thead, th{
    background: #000;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-weight: 400;
}
.table-subtitle td{
    font-size: 12px;
    text-align: center;
    padding: 0 17px;
    border-right: solid 1px #e1dddd;
}
.t-data td{
    border: solid 1px #ccc;
    text-align: center;
    border-right: solid 2px #000;
}
td.border-r {
    border-right: solid 2px #000!important;
}
td.flex-a div {
    width: 50px;
    height: 43px;
    padding: 10px 8px;
    border-radius: 7px;
    margin: 0 23px;
    display: inline-block;
}

.flex-a {
    padding: 20px 0;
}
tr.table-subtitle td{
    background: #f1f1f1!important;
}
.black{
    background-color: #000;
    color: #fff;
}
.white{
    background-color: #fff;
    color: #000;
    border: solid 1px #ccc;
}

.gray{
    background-color: #a4a4a4;
    color: #fff;

}
.blue{
    background-color: #0272d5;
    color: #fff;
}

.dropdown-item{
    padding: 10px 10px;
    border-bottom: solid 1px #ccc; 
}
.dropdown-item:hover{
    background-color: #0272d5;
    color: #fff;
}
.brand-logo img{
    width: 40px;
    padding-right: 13px;
}
.brand-nav{
    border: solid 1px #dddcdc;
    padding: 9px;
    background: #fff;
    width: 210px;
    color: #999;
    border-radius: 8px;
}
.dropdown-menu{
    width: 260px;
    padding: 0;
}
.pp table th{
    padding: 10px;
    height: 60px;
}
table.media-tv {
    width: 1319px;
}
td.flex-align{
    padding: 20px;
}
td.flex-align div{
    width: 50px;
    height: 43px;
    padding: 10px 8px;
    border-radius: 7px;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
}
td.flex-align.width{
    width: 220px;
}

  .stick {
    position: absolute;
    width: 40px;
    margin-right: 20px;
    left: 15px;
    top: auto;
    border-top-width: 1px;
    height: 87px;
    font-size: 16px!important;
    font-weight: 500;
    /*only relevant for first row*/
    /* margin-top: -1px; */
    /*compensate for top border*/
  }

  .toggle-flex.media-toggle {
    position: relative;
    right: -1204px;
    z-index: 1;
    top: 100px;
    width: 100px;
}
table.media-tv-graph {
    width: 1319px;
}
table.media-tv-graph td{
    text-align: center;
    padding: 30px;
}

.dropdown-toggle::after{
    display: none;
}

.left-top-filter {
    width: 100px;
    display: inline-flex;
    position: relative;
    left: -440px;
}

.left-top-filter .mat-icon{
    color: #fff;
    position: relative;
    top: 0px;
}

.filter-cont {
    position: absolute;
    left: 0px;
    top: 60px;
    height: 400px;
    width: 300px;
    background: #fff;
    z-index: 333;
    transition: all .8s ease-in-out;
    transform-origin: left top;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


.subfilter-tv {
    position: absolute;
    left: 300px;
    z-index: 333;
    height: 300px;
    width: 280px;
    background: #ccc;
    top: 90px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.subfilter-media {
    position: absolute;
    left: 300px;
    z-index: 333;
    height: 300px;
    width: 280px;
    background: rgb(133, 131, 131);
    top: 90px;
}
  
  /* .stick:before {
    content: 'Row ';
  } */

/* form input, form p, form button, form mat-slide-toggle  { margin:2%;}
.trueClass  {background:lightpink; color:red;}
.falseClass  {background:lightblue; color:red;} */
