<div class="container-fluid">
    <div class="row">
        <div class="header-logo">
          <div class="left-top-filter">
            <div class="btn"
					(click)="showDiv.Mfilter = !showDiv.Mfilter;showDiv.MediaFilter = false;showDiv.tvFilter = false;">
          <mat-icon class="dialpad"> view_headline</mat-icon>
				</div>
        <!-- Top Filter start from here -->
        <div class="filter-cont" *ngIf="showDiv.Mfilter">
          <div class="filter-title">
            <img src="../../../assets/images/filter_icon.jpg"> <span>Growth</span>
          </div>
            <div class="growth-sec">
              <div class="g-input">
                <label>Growth Ambition</label>
              
              <div class="input-group-append">
                <input type="text" class="form-control input-append" placeholder="0" disabled>
                <span class="input-group-text input-align">%</span>
              </div>
              </div>
              <div class="g-volume">
                <span class="Vname">Current Volume</span>
              <span class="Vdata">18.67M</span>
              </div>
            </div>
            <div class="filter-title">
              <img src="../../../assets/images/filter_icon.jpg"> <span>Trade</span>
            </div>
            <div class="growth-sec">
              <div class="g-input">
                <label>Max Trade</label>              
              <div class="input-group-append">
                <input type="text" class="form-control input-append" placeholder="0" disabled>
                <span class="input-group-text input-align">%</span>
              </div>
              </div>
              <div class="g-volume">
                <span class="Vname">Current DA</span>
              <span class="Vdata">12.6%</span>
              </div>
            </div>
            <div class="filter-title">
              <img src="../../../assets/images/filter_icon.jpg"> <span>TV</span>
              <div class="subside-filter"
					(click)="showDiv.tvFilter = !showDiv.tvFilter;showDiv.MediaFilter = false;">
					<mat-icon class="play-arrow">play_arrow</mat-icon>
				</div>
            </div>
            <div class="growth-sec">
              <div class="g-input">
                <label>WOA</label>
              <div class="input-group-append">
                <input type="text" class="form-control input-append" placeholder="0" disabled>
                <span class="input-group-text input-align">%</span>
              </div>
              </div>
              <div class="g-input">
                <label>WOA</label>
              <div class="input-group-append">
                <input type="text" class="form-control input-append" placeholder="0" disabled>
                <span class="input-group-text input-align">%</span>
              </div>
              </div>
            </div>
            <div class="filter-title">
                <img src="../../../assets/images/filter_icon.jpg"> <span>Media</span>
                <div class="subside-filter"
                    (click)="showDiv.MediaFilter = !showDiv.MediaFilter;showDiv.tvFilter = false;"><mat-icon class="play-arrow">play_arrow</mat-icon>
                </div>
            </div>
            <div class="growth-sec">
              <div class="g-volume">
                <span class="Vname Mwidth ">Media Digital Spend Cap</span>
              <span class="Vdata">20%</span>
              </div>
              <div class="g-input">
              </div>
            </div>
            <button class="backto-input"><mat-icon class="arrow-ios">arrow_back_ios</mat-icon> Back to Input</button>
        </div>
        <!-- top sub filter TV start from here -->
        <div class="subfilter-tv" *ngIf="showDiv.tvFilter">
          <button (click)="showDiv.tvFilter = !showDiv.tvFilter;" class="close-btn"><mat-icon>close</mat-icon></button>
          <div class="cost-grp">Cost Per GRP</div>
          <div class="g-input sub-track">
            <label>Sports Bein</label>
            <div class="input-group-append">
              <input type="text" class="form-control input-append" placeholder="0" disabled>
              <span class="input-group-text input-align">%</span>
            </div>
          </div>
          <div class="g-input sub-track">
            <label>Sports Non Bein</label>
            <div class="input-group-append">
              <input type="text" class="form-control input-append" placeholder="0" disabled>
              <span class="input-group-text input-align">%</span>
            </div>
          </div>
          <div class="g-input sub-track">
            <label>Fiction</label>
            <div class="input-group-append">
              <input type="text" class="form-control input-append" placeholder="0" disabled>
              <span class="input-group-text input-align">%</span>
            </div>
          </div>
          <div class="g-input sub-track">
            <label>Entertainment</label>
            <div class="input-group-append">
              <input type="text" class="form-control input-append" placeholder="0" disabled>
              <span class="input-group-text input-align">%</span>
            </div>
          </div>
          <div class="g-input sub-track">
            <label>Information amd Magazine</label>
            <div class="input-group-append">
              <input type="text" class="form-control input-append" placeholder="0" disabled>
              <span class="input-group-text input-align">%</span>
            </div>
          </div>
        </div>
        <!-- top sub filter Media start from here -->
        <div class="subfilter-media" *ngIf="showDiv.MediaFilter">
          <button (click)="showDiv.MediaFilter = !showDiv.MediaFilter;" class="close-btn"><mat-icon>close</mat-icon></button>
          <div class="cost-grp">Cost Per GRP</div>
          <div class="growth-sec" style="border: none; width: 100%;">
            <div class="g-volume">
              <span class="Vname Mwidth ">Media Digital Spend Cap</span>
            <span class="Vdata">20%</span>
            </div>
            <div class="g-input">
            </div>
          </div>
          <div class="g-input mb-1">
            <label>Twitter</label>
            <div class="input-group-append">
              <input type="text" class="form-control input-append" placeholder="0" disabled>
              <span class="input-group-text input-align">%</span>
            </div>
          </div>
          <div class="g-input mb-1">
            <label>Programmatic</label>
            <div class="input-group-append">
              <input type="text" class="form-control input-append" placeholder="0" disabled>
              <span class="input-group-text input-align">%</span>
            </div>
          </div>
          <div class="g-input mb-1">
            <label>DMS Network</label>
            <div class="input-group-append">
              <input type="text" class="form-control input-append" placeholder="0" disabled>
              <span class="input-group-text input-align">%</span>
            </div>
          </div>
          <div class="g-input mb-1">
            <label>Facebook</label>
            <div class="input-group-append">
              <input type="text" class="form-control input-append" placeholder="0" disabled>
              <span class="input-group-text input-align">%</span>
            </div>
          </div>
          <div class="g-input mb-1">
            <label>Snapchat</label>
            <div class="input-group-append">
              <input type="text" class="form-control input-append" placeholder="0" disabled>
              <span class="input-group-text input-align">%</span>
            </div>
          </div>
          <div class="g-input mb-1">
            <label>Instrgram</label>
            <div class="input-group-append">
              <input type="text" class="form-control input-append" placeholder="0" disabled>
              <span class="input-group-text input-align">%</span>
            </div>
          </div>
          <div class="g-input">
            <label>Youtube</label>
            <div class="input-group-append">
              <input type="text" class="form-control input-append" placeholder="0" disabled>
              <span class="input-group-text input-align">%</span>
            </div>
          </div>
          <div class="g-input">
            <label>kooora.com</label>
            <div class="input-group-append">
              <input type="text" class="form-control input-append" placeholder="0" disabled>
              <span class="input-group-text input-align">%</span>
            </div>
          </div>
        </div>
        </div>
              <img src="../../../assets/images/header_logo.jpg">
             <button class="insert-comment">
              <mat-icon> insert_comment</mat-icon>
              </button>  
              <div class="user-dropdown">
                <img class="user-icon" src="../../../assets/images/user.png"> <span>User Name</span>
              <button  mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <span>Redial</span>
                </button>
                <button mat-menu-item disabled>
                  <mat-icon>voicemail</mat-icon>
                  <span>Check voice mail</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Disable alerts</span>
                </button>
              </mat-menu>
            </div>


        </div> 
        <div class="col-lg-12 col-md-12">
            <div class="top-navbar">
              <mat-form-field>
                <mat-select placeholder="Brand">
                  <mat-select-trigger>
                    <img class="logo-icon" src="../../../assets/images/pepsi_icon.png"> Pepsi
                  </mat-select-trigger>
                  <mat-option value="option">
                    <img class="logo-icon" src="../../../assets/images/lipton_icon.png"> Liption
                  </mat-option>
                  <mat-option value="option">
                    <img class="logo-icon"  src="../../../assets/images/7up_icon.png"> 7UP
                  </mat-option>
                  <mat-option value="option">
                    <img class="logo-icon"  src="../../../assets/images/pepsi_icon.png"> Pepsi
                  </mat-option>
                  <mat-option value="option">
                    <img class="logo-icon"  src="../../../assets/images/lipton_icon.png"> Liption
                  </mat-option>
                  <mat-option value="option">
                    <img class="logo-icon"  src="../../../assets/images/pepsi_icon.png"> Pepsi
                  </mat-option>
                  <mat-option value="option">
                    <img class="logo-icon"  src="../../../assets/images/7up_icon.png"> 7UP
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Execution">
                  <mat-option value="option" (click)="onExecution()">
                    Execution - 1
                  </mat-option>
                  <mat-option value="option" (click)="onExecution()">
                    Execution - 2
                  </mat-option>
                  <mat-option value="option" (click)="onExecution()">
                    Execution - 3
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Media">
                  <mat-option value="option" (click)="showMedia()">
                   TV
                  </mat-option>
                  <mat-option value="option">
                   Digital
                   </mat-option>
                </mat-select>
              </mat-form-field>
                <button (click)="open()" class="navbar-button btn-blue"><mat-icon>save</mat-icon> Save Scenario</button>
                <button [routerLink]="['/compare']" class="navbar-button btn-green"><mat-icon>remove_red_eye</mat-icon>Compare</button>
                <button class="navbar-button btn-green"><mat-icon>check</mat-icon>Complete</button>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <!-- <li class="breadcrumb-item">Library</li> -->
                <li class="breadcrumb-item active" aria-current="page">simulator</li>
              </ol>
            </nav>
            <form (ngSubmit)="formSubmit()" #demoForm="ngForm"  >
                <div class="toggle-flex">
                <div class="toggle-portfolio">Portfolio</div>
                <mat-slide-toggle #ExeCution  [(ngModel)]="model.ExeCution" name="ExeCution"></mat-slide-toggle> 
                <!-- {{model.ifPrint}} --> <div class="toggle-brand">Brand <img class="logo-brand" src="../../../assets/images/pepsi_icon.png"></div></div>
                <div [ngClass]="model.ifPrint === true ? 'brandVolume' : 'portfolioVolume'">
                   <div class="graph-heading">Chart Title</div> 
                  <div class="brand-graph">
                    <highcharts-chart
                    [Highcharts] = "Highcharts" 
                    [options] = "chartOptions" 
                    style = "width: 100%; height: 300px; display: block; position: relative; right: 20px;">
                  </highcharts-chart>
                  </div>
                  <div class="brand-graph">
                    <highcharts-chart
                      [Highcharts] = "highchart2" 
                      [options] = "chartOptions2" 
                      style = "width: 100%; height: 250px; display: block;">
                    </highcharts-chart>
                  </div>
                  <div class="brand-graph">
                    <highcharts-chart
                      [Highcharts] = "highchart3" 
                      [options] = "chartOptions3" 
                      style = "width: 100%; height: 250px; display: block;">
                    </highcharts-chart>
                  </div>
                <div class="brand-graph">
                  <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">yes</mat-radio-button>
                    <mat-radio-button value="2">N0</mat-radio-button>
                  </mat-radio-group>
                  <highcharts-chart
                    [Highcharts] = "highchart4" 
                    [options] = "chartOptions4" 
                    style = "width: 100%; height: 250px; display: block;">
                  </highcharts-chart>
                </div>
                </div>
              </form>
              <!-- Execution Data start from here -->
              <div class="execution-data" *ngIf="execution">
                <div class="left-input">
                  <div class="input-pp mt-a">PP</div>
                  <div class="input-pp mt-b">0.5</div>
                  <div class="input-pp mt-c">1</div>
                  <div class="input-pp mt-d">3</div>
                </div>
                <!-- Grammage Table -->
                  <div id="Grammage" class="simulator">
                      <table class="simulator-data">
                          <thead>
                            <tr>
                              <th colspan="3">Grammage</th>
                            </tr>
                          </thead>
                        <tbody>
                            <tr class="sub-head">
                              <td>Current Pack Level Standings</td>
                              <td>Recommenda tions</td>
                              <td class="border-r">Try your Scenario</td>
                            </tr>
                            <tr class="t-data">
                              <td class="flex-a"><div class="black">3.6</div> </td> 
                              <td class="flex-a"><div class="blue">3.6</div> </td> 
                              <td class="flex-a"><div class="white">3.6</div></td> 
                            </tr>
                            <tr class="t-data">
                              <td class="flex-a"><div class="black">3.6</div> </td> 
                              <td class="flex-a"><div class="blue">3.6</div> </td> 
                              <td class="flex-a"><div class="white">3.6</div></td> 
                            </tr>
                            <tr class="t-data">
                              <td class="flex-a"><div class="black">3.6</div> </td> 
                              <td class="flex-a"><div class="blue">3.6</div> </td> 
                              <td class="flex-a"><div class="white">3.6</div></td> 
                            </tr>
                        </tbody>
                      </table>
                  </div>
                  <!-- Distribution TDP Table -->
                  <div id="DistributionTDP" class="simulator">
                    <table class="simulator-data">
                        <thead>
                          <tr>
                            <th colspan="3">Distribution (TDP Share)</th>
                          </tr>
                        </thead>
                      <tbody>
                          <tr class="sub-head">
                            <td>Current Pack Level Standings</td>
                            <td>Recommenda tions</td>
                            <td class="border-r">Try your Scenario</td>
                          </tr>
                          <tr class="t-data">
                            <td class="flex-a"><div class="black">3.6</div> </td> 
                            <td class="flex-a"><div class="blue">3.6</div> </td> 
                            <td class="flex-a"><div class="white">3.6</div></td> 
                          </tr>
                          <tr class="t-data">
                            <td class="flex-a"><div class="black">3.6</div> </td> 
                            <td class="flex-a"><div class="blue">3.6</div> </td> 
                            <td class="flex-a"><div class="white">3.6</div></td> 
                          </tr>
                          <tr class="t-data">
                            <td class="flex-a"><div class="black">3.6</div> </td> 
                            <td class="flex-a"><div class="blue">3.6</div> </td> 
                            <td class="flex-a"><div class="white">3.6</div></td> 
                          </tr>
                      </tbody>
                    </table>
                </div>
                <!-- Distribution ND Table -->
                <div id="DistributionND" class="simulator">
                  <table class="simulator-data">
                      <thead>
                        <tr>
                          <th colspan="3">Distribution (ND)</th>
                        </tr>
                      </thead>
                    <tbody>
                        <tr class="sub-head">
                          <td>Current Pack Level Standings</td>
                          <td>Recommenda tions</td>
                          <td class="border-r">Try your Scenario</td>
                        </tr>
                        <tr class="t-data">
                          <td class="flex-a"><div class="black">3.6</div> </td> 
                          <td class="flex-a"><div class="blue">3.6</div> </td> 
                          <td class="flex-a"><div class="white">3.6</div></td> 
                        </tr>
                        <tr class="t-data">
                          <td class="flex-a"><div class="black">3.6</div> </td> 
                          <td class="flex-a"><div class="blue">3.6</div> </td> 
                          <td class="flex-a"><div class="white">3.6</div></td> 
                        </tr>
                        <tr class="t-data">
                          <td class="flex-a"><div class="black">3.6</div> </td> 
                          <td class="flex-a"><div class="blue">3.6</div> </td> 
                          <td class="flex-a"><div class="white">3.6</div></td> 
                        </tr>
                    </tbody>
                  </table>
              </div>
              <!-- Distribution PackMix Table -->
              <div id="PackMix" class="simulator">
                <table class="simulator-data">
                    <thead>
                      <tr>
                        <th colspan="3">Pack Mix</th>
                      </tr>
                    </thead>
                  <tbody>
                      <tr class="sub-head">
                        <td>Current Pack Level Standings</td>
                        <td>Recommenda tions</td>
                        <td class="border-r">Try your Scenario</td>
                      </tr>
                      <tr class="t-data">
                        <td class="flex-a"><div class="black">3.6</div> </td> 
                        <td class="flex-a"><div class="blue">3.6</div> </td> 
                        <td class="flex-a"><div class="white">3.6</div></td> 
                      </tr>
                      <tr class="t-data">
                        <td class="flex-a"><div class="black">3.6</div> </td> 
                        <td class="flex-a"><div class="blue">3.6</div> </td> 
                        <td class="flex-a"><div class="white">3.6</div></td> 
                      </tr>
                      <tr class="t-data">
                        <td class="flex-a"><div class="black">3.6</div> </td> 
                        <td class="flex-a"><div class="blue">3.6</div> </td> 
                        <td class="flex-a"><div class="white">3.6</div></td> 
                      </tr>
                  </tbody>
                </table>
            </div>
       
      <!-- Distribution D&A Table-->
      <div id="DA" class="simulator">
        <table class="simulator-data">
            <thead>
              <tr>
                <th colspan="3">D&A</th>
              </tr>
            </thead>
          <tbody>
              <tr class="sub-head">
                <td>Current Pack Level Standings</td>
                <td>Recommenda tions</td>
                <td class="border-r">Try your Scenario</td>
              </tr>
              <tr class="t-data">
                <td class="flex-a"><div class="black">3.6</div> </td> 
                <td class="flex-a"><div class="blue">3.6</div> </td> 
                <td class="flex-a"><div class="white">3.6</div></td> 
              </tr>
              <tr class="t-data">
                <td class="flex-a"><div class="black">3.6</div> </td> 
                <td class="flex-a"><div class="blue">3.6</div> </td> 
                <td class="flex-a"><div class="white">3.6</div></td> 
              </tr>
              <tr class="t-data">
                <td class="flex-a"><div class="black">3.6</div> </td> 
                <td class="flex-a"><div class="blue">3.6</div> </td> 
                <td class="flex-a"><div class="white">3.6</div></td> 
              </tr>
          </tbody>
        </table>
    </div>
              </div>
            <!-- Execution Data End here -->
              <!--<table class="simulator-table">
                <thead>
                  <tr>
                    <th class="stick">PP</th>
                    <th colspan="3">Grammage</th>
                    <th colspan="3">Distribution (TDP Share)</th>
                    <th colspan="3">Distribution (ND)</th>
                    <th colspan="3">Pack Mix</th>
                    <th colspan="3">D&A</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-subtitle">
                    <td class="stick pt-3 border-r">1</td>
                    <td>Current Pack Level Standings</td>
                    <td>Recommenda tions</td>
                    <td class="border-r">Try your Scenario</td>
                    <td>Current Pack Level Standings</td>
                    <td>Recommenda tions</td>
                    <td class="border-r">Try your Scenario</td>
                    <td>Current Pack Level Standings</td>
                    <td>Recommenda tions</td>
                    <td class="border-r">Try your Scenario</td>
                    <td>Current Pack Level Standings</td>
                    <td>Recommenda tions</td>
                    <td class="border-r">Try your Scenario</td>
                    <td>Current Pack Level Standings</td>
                    <td>Recommendat ions</td>
                    <td class="border-r">Try your Scenario</td>
                  </tr>
                  <tr class="t-data">
                    <td class="stick pt-3">0.5</td>
                    <td class="flex-a" colspan="3"><div class="black">3.6</div> <div class="blue">3.6</div> <div class="white">3.6</div></td> 
                    <td class="flex-a" colspan="3"><div class="black">3.6</div> <div class="blue">3.6</div> <div class="white">3.6</div></td> 
                    <td class="flex-a" colspan="3"><div class="black">3.6</div> <div class="blue">3.6</div> <div class="white">3.6</div></td> 
                    <td class="flex-a" colspan="3"><div class="black">3.6</div> <div class="blue">3.6</div> <div class="white">3.6</div></td> 
                    <td class="flex-a" colspan="3"><div class="black">3.6</div> <div class="blue">3.6</div> <div class="white">3.6</div></td> 
                  </tr>
                  <tr class="t-data">
                    <td class="stick pt-3">1</td>
                    <td class="flex-a" colspan="3"><div class="black">3.6</div> <div class="blue">3.6</div> <div class="white">3.6</div></td> 
                    <td class="flex-a" colspan="3"><div class="black">3.6</div> <div class="blue">3.6</div> <div class="white">3.6</div></td> 
                    <td class="flex-a" colspan="3"><div class="black">3.6</div> <div class="blue">3.6</div> <div class="white">3.6</div></td> 
                    <td class="flex-a" colspan="3"><div class="black">3.6</div> <div class="blue">3.6</div> <div class="white">3.6</div></td> 
                    <td class="flex-a" colspan="3"><div class="black">3.6</div> <div class="blue">3.6</div> <div class="white">3.6</div></td> 
                  </tr>
                  <tr class="t-data">
                    <td class="stick pt-3">3</td>
                    <td class="flex-a" colspan="3"><div class="black">3.6</div> <div class="blue">3.6</div> <div class="white">3.6</div></td> 
                    <td class="flex-a" colspan="3"><div class="black">3.6</div> <div class="blue">3.6</div> <div class="white">3.6</div></td> 
                    <td class="flex-a" colspan="3"><div class="black">3.6</div> <div class="blue">3.6</div> <div class="white">3.6</div></td> 
                    <td class="flex-a" colspan="3"><div class="black">3.6</div> <div class="blue">3.6</div> <div class="white">3.6</div></td> 
                    <td class="flex-a" colspan="3"><div class="black">3.6</div> <div class="blue">3.6</div> <div class="white">3.6</div></td> 
                  </tr>
                </tbody>
              </table> -->
          
            <!-- Media Data start from here -->
            <div class="execution-data" *ngIf="media">
              <!-- <div class="left-input">
                <div class="input-pp mt-a">PP</div>
                <div class="input-pp mt-b">0.5</div>
                <div class="input-pp mt-c">1</div>
                <div class="input-pp mt-d">3</div>
              </div> -->
              <!-- Grammage Table -->
              <div id="A" class="simulator">
                <table width="200" class="simulator-data td-height">
                    <thead>
                      <tr>
                        <th colspan="3">Grammage</th>
                      </tr>
                    </thead>
                  <tbody>
                      <tr class="t-data mh">
                        <td height="85"> </td> 
                      </tr>
                      <tr class="t-data">
                        <td class="mheading"> Total</td> 
                      </tr>
                      <tr class="t-data">
                        <td class="mheading"> Sports Bein</td> 
                      </tr>
                      <tr class="t-data">
                        <td class="mheading"> Sports Non Bein</td> 
                      </tr>

                  </tbody>
                </table>
              </div>
                <div id="A" class="simulator">
                    <table class="simulator-data">
                        <thead>
                          <tr>
                            <th colspan="3">Grammage</th>
                          </tr>
                        </thead>
                      <tbody>
                          <tr class="sub-head mh">
                            <td>Current Pack Level Standings</td>
                            <td>Recommenda tions</td>
                            <td class="border-r">Try your Scenario</td>
                          </tr>
                          <tr class="t-data">
                            <td class="flex-a"><div class="black">3.6</div> </td> 
                            <td class="flex-a"><div class="blue">3.6</div> </td> 
                            <td class="flex-a"><div class="white">3.6</div></td> 
                          </tr>
                          <tr class="t-data">
                            <td class="flex-a"><div class="black">3.6</div> </td> 
                            <td class="flex-a"><div class="blue">3.6</div> </td> 
                            <td class="flex-a"><div class="white">3.6</div></td> 
                          </tr>
                          <tr class="t-data">
                            <td class="flex-a"><div class="black">3.6</div> </td> 
                            <td class="flex-a"><div class="blue">3.6</div> </td> 
                            <td class="flex-a"><div class="white">3.6</div></td> 
                          </tr>
                      </tbody>
                    </table>
                  </div>
                  <div id="A" class="simulator">
                    <table class="simulator-data">
                        <thead>
                          <tr>
                            <th colspan="3">Grammage</th>
                          </tr>
                        </thead>
                      <tbody>
                          <tr class="sub-head mh">
                            <td>Current Pack Level Standings</td>
                            <td>Recommenda tions</td>
                            <td class="border-r">Try your Scenario</td>
                          </tr>
                          <tr class="t-data">
                            <td class="flex-a"><div class="black">3.6</div> </td> 
                            <td class="flex-a"><div class="blue">3.6</div> </td> 
                            <td class="flex-a"><div class="white">3.6</div></td> 
                          </tr>
                          <tr class="t-data">
                            <td class="flex-a"><div class="black">3.6</div> </td> 
                            <td class="flex-a"><div class="blue">3.6</div> </td> 
                            <td class="flex-a"><div class="white">3.6</div></td> 
                          </tr>
                          <tr class="t-data">
                            <td class="flex-a"><div class="black">3.6</div> </td> 
                            <td class="flex-a"><div class="blue">3.6</div> </td> 
                            <td class="flex-a"><div class="white">3.6</div></td> 
                          </tr>
                      </tbody>
                    </table>
                  </div>
                  <div id="A" class="simulator">
                    <table class="simulator-data">
                        <thead>
                          <tr>
                            <th colspan="3">Grammage</th>
                          </tr>
                        </thead>
                      <tbody>
                          <tr class="t-data">
                            <td class="bar-chart"> <img src="../../../assets/images/chart1.jpg"></td> 
                          </tr>
                          <tr class="t-data">
                            <td class="bar-chart"> <img src="../../../assets/images/chart1.jpg"></td> 
                          </tr>
                          <tr class="t-data">
                            <td class="bar-chart"> <img src="../../../assets/images/chart1.jpg"></td> 
                          </tr>
                      </tbody>
                    </table>
                  </div>

                  <div id="A" class="simulator">
                    <table class="simulator-data">
                        <thead>
                          <tr>
                            <th colspan="3">Grammage</th>
                          </tr>
                        </thead>
                      <tbody>
                          <tr class="t-data">
                            <td class="bar-chart"> <img src="../../../assets/images/chart1.jpg"></td> 
                          </tr>
                          <tr class="t-data">
                            <td class="bar-chart"> <img src="../../../assets/images/chart1.jpg"></td> 
                          </tr>
                          <tr class="t-data">
                            <td class="bar-chart"> <img src="../../../assets/images/chart1.jpg"></td> 
                          </tr>
                      </tbody>
                    </table>
                  </div>
                  
                </div>
            <!-- <div class="media-data"  *ngIf="media">
              <div class="toggle-flex media-toggle">
                <mat-slide-toggle #TV  [(ngModel)]="model.Media" name="Media">{{model.Media}}</mat-slide-toggle> 
              </div>
                <div > 
                    <table class="media-tv" *ngIf="model.Media">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Effectiveness</th>
                          <th>TV Spend</th>
                          <th>TV GRP</th>
                          <th>TV VOL Contribution</th>
                          <th>TV ROI</th>
                          <th style="width: 150px;"></th>
                        </tr>
                      </thead>
                      <tbody>
                        
                        <tr>
                          <td class="flex-align">Total</td>
                          <td class="flex-align"><div class="black">2.27</div></td>
                          <td class="flex-align"><div class="black">2.27</div> <div class="blue">3.6</div> <div class="gray">3.6</div></td>
                          <td class="flex-align"><div class="black">3.6</div> <div class="blue">3.6</div> <div class="white">3.6</div></td>
                          <td class="flex-align width"></td>
                          <td class="flex-align width"></td>
                        </tr>
                        <tr>
                          <td class="flex-align">Sports Bein</td>
                          <td class="flex-align"><div class="black">2.27</div></td>
                          <td class="flex-align"><div class="black">3.6</div> <div class="blue">3.6</div> <div class="white">3.6</div></td>
                          <td class="flex-align"><div class="black">3.6</div> <div class="blue">3.6</div> <div class="white">3.6</div></td>
                          <td class="flex-align width"></td>
                          <td class="flex-align width"></td>
                        </tr>
                        <tr>
                          <td class="flex-align">Sports Non Bein</td>
                          <td class="flex-align"><div class="black">2.27</div></td>
                          <td class="flex-align"><div class="black">3.6</div> <div class="blue">3.6</div> <div class="white">3.6</div></td>
                          <td class="flex-align"><div class="black">3.6</div> <div class="blue">3.6</div> <div class="gray">3.6</div></td>
                          <td class="flex-align width"></td>
                          <td class="flex-align width"></td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="media-tv-graph" *ngIf="!model.Media">
                      <thead>
                        <tr>
                          <th>Digital Spend</th>
                          <th>Digital GRP</th>
                          <th style="width: 350px;"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><img src="../../../assets/images/chart.jpg"></td>
                          <td><img src="../../../assets/images/chart.jpg"></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
            </div>
        </div> -->
    </div>
</div>