/* .container-fluid{
    background-color: #efeeee;
    height: 100vh;
} */
.header-logo{
    background-color: #000;
    text-align: center;
    width: 100%;
    padding: 7px;
}
.top-navbar{
    padding: 26px 15px;
    display: flex;
}
button.execution {
    border: solid 1px #ccc;
    padding: 5px 80px;
    border-radius: 6px;
    background: #fff;
    margin: 0 20px;
    color: #898686;
}
button.save-data{
    border: solid 1px #0272d5;
    padding: 5px 90px;
    border-radius: 6px;
    background: #0272d5;
    margin: 0 20px;
    color: #fff;
    display: flex;
    font-size: 18px;
}
button.compare-data{
    border: solid 1px #16c81d;
    padding: 5px 70px;
    border-radius: 6px;
    background: #16c81d;
    color: #fff;
    display: flex;
    font-size: 18px;
}
.mat-icon{
    position: relative;
    left: -10px;
    font-size: 26px;
}
.brandVolume {
    border: solid 1px #ccc;
    height: 280px;
    border-radius: 5px;
    background: #1b2559;
    display: flex;
    padding: 0px 10px;
}

.portfolioVolume {
    border: solid 1px #ccc;
    height: 280px;
    border-radius: 5px;
    background: #000;
    display: flex;
    padding: 0px 10px;
}
.brand-graph {
    width: 24%;
    /* background: #18316c; */
    margin: 15px 7px;
}

.portfolioVolume .brand-graph{
    background: #121212;
}
.brandVolume .brand-graph{
    background: #18316c;
}

.portfolio-graph {
    width: 24%;
    background: #18316c;
    margin: 15px 7px;
}
.toggle-flex{
    display: flex;
    margin: 10px 10px;
}
.toggle-portfolio {
    margin: 0px 20px;
}
.toggle-brand {
    margin: 0px 20px;
}
img.logo-brand {
    width: 24px;
}
.DataTable{
    width: 1333px;
    overflow-x: scroll;
    margin-top: 30px;
    margin-bottom: 30px;
}
table.simulator-table {
    border: solid 1px #ccc;
    width: 1500px;
    overflow-x: scroll;
    margin-bottom: 17px;
}
table.simulator-table td{
    background: #e5e2e2;
}
.simulator-table thead, th{
    background: #000;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-weight: 400;
}
.table-subtitle td{
    font-size: 12px;
    text-align: center;
    padding: 0 17px;
    border-right: solid 1px #e1dddd;
}
.t-data td{
    border: solid 1px #ccc;
    text-align: center;
}
td.flex-a span {
    width: 150px;
    height: 50px;
    padding: 10px;
    border-radius: 7px;
    margin: 0 30px;
}
td.flex-a {
    padding: 20px 0;
}
tr.table-subtitle td{
    background: #f1f1f1!important;
}
.black{
    background-color: #000;
    color: #fff;
}
.white{
    background-color: #fff;
    color: #000;
}
.blue{
    background-color: #0272d5;
    color: #fff;
}

.dropdown-item{
    padding: 10px 10px;
    border-bottom: solid 1px #ccc; 
}
.dropdown-item:hover{
    background-color: #0272d5;
    color: #fff;
}
.brand-logo img{
    width: 40px;
    padding-right: 13px;
}
.brand-nav{
    border: solid 1px #dddcdc;
    padding: 7px;
    background: #fff;
    width: 260px;
    color: #999;
    border-radius: 8px;
}
.dropdown-menu{
    width: 260px;
    padding: 0;
}

/* form input, form p, form button, form mat-slide-toggle  { margin:2%;}
.trueClass  {background:lightpink; color:red;}
.falseClass  {background:lightblue; color:red;} */
