
<!-- <button mat-button (click)="openDialog()">Launch dialog</button> -->


<h1 mat-dialog-title>Save Scenario</h1>
<div mat-dialog-content>This Scenario file will be automatically saved and add to scenario comparison.</div>
<br>
<input type="text" style="padding:12px 20px;
border-style:solid;
border-radius:calc(var(--border-radius) * 1px);" placeholder="Enter Scenario name">
<div mat-dialog-actions>
  <button class="save" mat-button mat-dialog-close>Save</button>
  <button class="cancel" mat-button mat-dialog-close>Cancel</button>
</div>
