.header-logo{
    background-color: #000;
    text-align: center;
    width: 100%;
    padding: 7px;
}
.compare-table {
    width: 1340px;
    overflow-x: scroll;
    margin: 30px 0;
}
/* top navigation css start */
.top-navbar{
    padding: 26px 15px 0px 15px;
    display: flex;
}
img.logo-icon{
    width: 30px;
    padding-right: 8px;
}
.navbar-button{
    width: 170px;
    font-size: 15px;
    margin: 0 10px;
    padding: 0px 0px 9px 0px;
    border: solid 1px #ccc;
    border-radius: 6px;
    height: 45px;
}
.btn-blue{
    background-color: #0272d5;
    color: #fff;
}
.btn-green{
    background-color: #16c81d;
    color: #fff;
}
.mat-icon{
    position: relative;
    left: -10px;
    font-size: 26px;
    top: 8px;
}
.mat-form-field{
    width: 220px;
    margin-right: 20px;
}
.breadcrumb{
    width: 600px;
    background: none;
}
.breadcrumb li {
    color: #428bca;
    cursor: pointer;
}
.breadcrumb .active{
    cursor: text;
    color: #333;
}
/* Top filter start from here */
.left-top-filter{
    width: 100px;
    display: inline-flex;
    position: relative;
    left: -430px;
    top: 7px;
}
.filter-cont {
    position: absolute;
    padding: 5px 15px;
    left: 4px;
    top: 60px;
    width: 350px;
    background: #fff;
    z-index: 333;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-bottom: solid 5px #0272d5;
    max-height: 550px;
    overflow-x: auto;
}
.subfilter-tv {
    position: absolute;
    left: 340px;
    z-index: 333;
    padding: 10px 10px;
    width: 250px;
    background: #fff;
    top: 120px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-bottom: solid 5px #0272d5;
}
.g-input.sub-track {
    width: 100%;
}
.cost-grp{
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    padding: 5px 10px;
}

button.close-btn {
    border: none;
    background: none;
    position: absolute;
    right: 0px;
    top: 0px;
    color: #999;
}

.subfilter-media {
    position: absolute;
    left: 340px;
    z-index: 333;
    padding: 10px 15px;
    border-radius: 10px;
    width: 450px;
    background: #fff;
    top: 120px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-bottom: solid 5px #0272d5;
    display: flex;
    flex-wrap: wrap;
}

.filter-title {
    text-align: left;
    padding: 0px 18px;
    color: #0272d5;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 13px;
}
.filter-title img{
    padding-right: 10px;
}
.growth-sec{
   display: flex;
   border-bottom: solid 1px #ccc;
    padding-bottom: 0px;
}
.g-input, .g-volume {
    width: 49%;
    margin: 12px 0px;
    padding: 0 10px;
    text-align: left;
}
.g-input label{
    font-size: 15px;
    font-weight: 500;
}
span.input-align {
    position: relative;
    left: -7px;
}
input.input-append {
    width: 100%;
}
span.Vname{
    float: left;
    font-size: 15px;
    font-weight: 500;
    padding-top: 1px;
    width: 100%;
}
span.Vdata {
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
}
.subside-filter {
    display: inline;
    position: absolute;
    left: 295px;
    color: #000;
    cursor: pointer;
}
.play-arrow{
    font-size: 19px;
    color: #444;
}
span.Vname.Mwidth{
    width:200px;
}
.g-input.mb-1 {
    margin-bottom: -8px!important;
}
button.backto-input {
    background: #0272d5;
    color: #fff;
    width: 100%;
    border: none;
    padding: 3px 7px 10px 7px;
    border-radius: 10px;
    margin: 10px 0;
    text-align: center;
}
.arrow-ios{
    position: relative;
    left: -70px;
}
button.insert-comment {
    position: relative;
    right: -430px;
    background: none;
    border: none;
    color: #fff;
}
.dialpad{
    color: #fff;
    position: relative;
    top: 0px;
}

/* Top filter End here */

/* top navigation css end */

table.compare-data{
    width: 1500px;
    overflow-x: scroll;
}

table.compare-data tr th {
    text-align: center;
    font-size: 18px;
    color: #858282;
    padding-left: 45px;
}
table.compare-data td{
    padding: 8px 0;
}
td.fs {
    font-size: 15px;
}
.compare-data{
    width: 400px;
}

.grammage-s td{
    text-align: center;
}
.grammage-s span{
    font-size: 12px;
    text-align: center;
    font-weight: 500;
}
.inputs-d{
    width: 50px;
    height: 43px;
    padding: 10px 8px;
    border-radius: 7px;
    margin: 0 1px;
    display: inline-block;
    text-align: center;
}

.gray{
    background: #858686;
    color: #fff;
}
.blue{
    background: #003f77;
    color: #fff;
}

.sblue{
    background: #0272d5;
    color: #fff;
}